<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestLogIn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>42C6C7561E825DE100F8939C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42C6C76F1E825DE200F8939C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42C6C77A1E825DE200F8939C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
